.yellow {
    background: yellow;
}

.green {
    background: #7bff5a
}

.blue {
    background: #4c6fff
}

.red {
    background: #ff435b
}

.orange {
    background: #ffb045
}

.gray {
    background: gray;
}

.white {
    background: white;
}